.footer-main {
    background: #000;
    color: #fff;

    .footer-top {
        padding: 10px;
        border-bottom: 1px solid #ddd;
        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            @media screen and (max-width: 600px) {
                display: block;
            }
            li {
                padding: 10px;
                a {
                    color: #fff;
                    font-size: 15px;
                    &:hover {
                        text-decoration: underline;
                        text-underline-offset: 2px;
                    }
                }
            }
        }
    }

    .footer-bottom {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 50px;
        @media screen and (max-width: 600px) {
            flex-direction: column;
            text-align: center;
        }
        .copy {
            max-width: 50%;
            font-size: 12px;
            @media screen and (max-width: 600px) {
                max-width: 100%;
            }
        }
        .social {
            max-width: 50%;
            @media screen and (max-width: 600px) {
                max-width: 100%;
            }
            ul {
                display: flex;
                @media screen and (max-width: 600px) {
                    justify-content: center;
                    margin-top: 20px;
                }
                li {
                    padding: 5px;
                    margin-left: 10px;
                    @media screen and (max-width: 600px) {
                        margin: 0;
                        padding: 10px;
                    }
                    a {
                        color: #fff;
                        font-size: 20px;
                        &:hover {
                            color: #b80000;
                        }
                    }
                }
            }
        }
    }
}
