.footer-main {
    background: #000;
    color: #fff;

    .footer-top {
        padding: 10px;
        border-bottom: 1px solid #ddd;
        @media (max-width: 600px) {
            padding: 0;
        }
        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            @media screen and (max-width: 600px) {
                display: block;
            }
            li {
                padding: 10px;
                @media (max-width: 600px) {
                    padding: 10px 0;
                }
                a {
                    color: #fff;
                    font-size: 15px;
                    &:hover {
                        text-decoration: underline;
                        text-underline-offset: 2px;
                    }
                }
            }
        }
    }

    .footer-contact {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 30px 0;
        border-bottom: 1px solid #ddd;
        @media (max-width: 600px) {
            flex-direction: column;
            padding: 20px 0;
        }
        h3 {
            font-weight: normal;
            margin-bottom: 25px;
            font-size: 32px;
            font-family: "DM Serif Display", serif;
            text-decoration: underline;
            text-decoration-color: #b80000;
            @media (max-width: 600px) {
                margin-top: 25px;
                font-size: 28px;
            }
        }
        p {
            margin: 0;
        }
        a {
            color: #fff;
            font-size: 14px;
            float: right;
            margin: 5px 0;
            @media (max-width: 600px) {
                float: left;
            }
            &:hover {
                text-decoration: underline;
                color: #b80000;
            }
        }
    }

    .footer-bottom {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 50px;
        @media screen and (max-width: 600px) {
            flex-direction: column;
            text-align: center;
        }
        .copy {
            max-width: 50%;
            font-size: 12px;
            @media screen and (max-width: 600px) {
                max-width: 100%;
            }
        }
        .social {
            max-width: 50%;
            @media screen and (max-width: 600px) {
                max-width: 100%;
            }
            ul {
                display: flex;
                @media screen and (max-width: 600px) {
                    justify-content: center;
                    margin-top: 20px;
                }
                li {
                    padding: 5px;
                    margin-left: 10px;
                    @media screen and (max-width: 600px) {
                        margin: 0;
                        padding: 10px;
                    }
                    a {
                        color: #fff;
                        font-size: 18px;
                        &:hover {
                            color: #b80000;
                        }
                    }
                }
            }
        }
    }
}
