.magazine-header {
    text-align: center;
    padding: 20px 0;
    h1 {
        font-size: 32px;
        font-family: "DM Serif Display", serif;
        font-weight: 500;
        @media (max-width: 600px) {
            font-size: 26px;
        }
    }
    p {
        max-width: 60%;
        margin: auto;
        padding: 10px 0;
        @media (max-width: 600px) {
            max-width: 100%;
        }
    }
}

.mag-card {
    padding: 10px;
}

.mag-cover {
    width: 100%;
}