.magazine-header {
    text-align: center;
    padding: 20px 0;
    h1 {
        font-size: 32px;
        font-family: 'DM Serif Display', serif;
        font-weight: 500;
        @media (max-width: 600px) {
            font-size: 26px;
        }
    }
    p {
        max-width: 60%;
        margin: auto;
        padding: 10px 0;
        @media (max-width: 600px) {
            max-width: 100%;
        }
    }
}

.mag-card {
    padding: 0px;
}

.cover-title {
    text-transform: uppercase;
    font-weight: 600;
    padding: 5px 0;
    font-size: 16px;
    text-align: center;
    text-decoration: underline;
}

.mag-cover {
    width: 100%;
    color: #fff;
    img {
        padding: 10px 0;
    }
    .cover-content {
        color: #fff;
        h1 {
            font-family: 'DM Serif Display', serif;
            font-weight: 500;
            a {
                color: #fff;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        p {
            font-size: 14px;
        }
    }
}

.listing {
    .listing-img {
        display: flex;
        justify-content: center;
        img {
            max-width: 450px;
            margin: auto;
        }
    }
}

.profiles {
    img {
        width: 100%;
    }

    .profile-card {
        img {
            border: 1px solid #000;
        }
    }
}

.profile-image {
    img {
        max-width: 100%;
        height: auto;
        border: 1px solid #000;
        margin: auto;
    
    }
}

.profile-content {
    padding: 0;
    h3 {
        font-family: 'DM Serif Display', serif;
        line-height: 1.2;
        font-size: 28px;
        @media (max-width: 600px) {
            font-size: 22px;
            margin-top: 10px;
        }
        a {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}


.pr-title {
    font-family: 'DM Serif Display', serif;
    padding: 10px 0;
    font-size: 32px;
    line-height: 1.1;
}

.pr-content {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 16px;
    a {
        text-decoration: underline;
    }
    strong {
        a {
            text-decoration: none;
        }
    }
}
.font-g {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 16px;
}