.main-post {
    .img {
        width: 60%;
        img {
            width: 100%;
        }
        @media (max-width: 600px) {
            width: 100%;
        }
    }
    display: flex;
    align-items: center;
    border: 1px solid #b80000;
    background-color: #eee;
    @media (max-width: 600px) {
       flex-direction: column;
       margin-bottom: 10px;
    }
    .content {
        width: 40%;
        padding: 15px;
        @media (max-width: 600px) {
            width: 100%;
        }
        .category {
            text-transform: uppercase;
            margin-bottom: 20px;
            font-weight: bold;
            font-size: 14px;
            letter-spacing: .5px;
            a {
                color: #b80000;
                &:hover {
                    color: #000;
                }
            }
        }
        .title {
            font-family: 'DM Serif Display', serif;
            font-size: 24px;
            a {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .author {
            font-size: 12px;
            font-weight: bold;
            margin-top: 10px;
            a {
                color: #000;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.top-sidepost {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidepost {
    .img {
        width: 30%;
        @media (max-width: 600px) {
            width: 40%;
        }
        img {
            height: 150px;
            object-fit: cover;
            width: 100%;
            @media (max-width: 1440px) {
                height: 130px;
            }
            @media (max-width: 600px) {
                height: 160px;
            }
        }
    }
    display: flex;
    .content {
        width: 70%;
        background-color: #eee;
        padding: 15px;
        @media (min-width: 1024px) {
            padding: 10px;
        }
        @media (max-width: 600px) {
            width: 60%;
        }
        .category {
            text-transform: uppercase;
            margin-bottom: 15px;
            font-weight: bold;
            font-size: 12px;
            letter-spacing: .5px;
            a {
                color: #b80000;
                &:hover {
                    color: #000;
                }
            }
        }
        .title {
            font-family: 'DM Serif Display', serif;
            font-size: 18px;
            a {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.sidepost-main {
    .img {
        img {
            width: 180px;
            height: auto;
            @media (max-width: 600px) {
                width: 145px;
                height: 140px;
                object-fit: cover;
            }
        }
    }
    display: flex;
    align-items: center;
    border-bottom: 1px solid #b80000;
    margin-bottom: 15px;
    .content {
        width: calc(100% - 180px);
        padding: 10px;
        @media (max-width: 600px) {
            width: calc(100% - 145px);
        }
        .category {
            text-transform: uppercase;
            margin-bottom: 10px;
            font-weight: bold;
            font-size: 12px;
            letter-spacing: .5px;
            a {
                color: #b80000;
                &:hover {
                    color: #000;
                }
            }
        }
        .title {
            font-family: 'DM Serif Display', serif;
            font-size: 18px;
            @media (max-width: 600px) {
                font-size: 17px;
            }
            a {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.bottom {
    img {
        width: 100%;
        height: 160px;
        object-fit: cover;
    }
    .content {
        width: 100%;
        background-color: #eee;
        padding: 10px;
        .category {
            text-transform: uppercase;
            margin-bottom: 10px;
            font-weight: bold;
            font-size: 12px;
            letter-spacing: .5px;
            a {
                color: #b80000;
                &:hover {
                    color: #000;
                }
            }
        }
        .title {
            font-family: 'DM Serif Display', serif;
            font-size: 18px;
            a {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .author {
            font-size: 12px;
            font-family: bold;
            margin-top: 10px;
        }
    }
}

.trending {
    @media (max-width: 600px) {
        padding-top: 30px;
    }
}

.content-section {
    padding-top: 50px;
    padding-bottom: 50px;
    @media (max-width: 600px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

hr {
    border-top: 1px solid #000;
    opacity: 1;
}

.header {
    font-family: 'DM Serif Display', serif;
    font-size: 46px;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: underline;
    text-decoration-color: #b80000;
    @media (max-width: 600px) {
        font-size: 36px;
    }
}
.header-sub {
    font-family: 'DM Serif Display', serif;
    font-size: 36px;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: underline;
    text-decoration-color: #b80000;
    padding-bottom: 30px;
}
.opinion {
    .img {
        width: 50%;
        @media (max-width: 600px) {
            width: 100%;
        }
        img {
            width: 100%;
            height: auto;
        }
    }
    display: flex;
    align-items: center;
    background-color: #f8f4e7;
    justify-content: center;
    @media (max-width: 600px) {
        flex-direction: column;
    }
    .content {
        width: 50%;
        padding: 10px;
        text-align: center;
        @media (max-width: 600px) {
            width: 100%;
        }
        .category {
            text-transform: uppercase;
            margin-bottom: 20px;
            font-weight: bold;
            font-size: 14px;
            letter-spacing: .5px;
            a {
                color: #b80000;
                &:hover {
                    color: #000;
                }
            }
        }
        .title {
            font-family: 'DM Serif Display', serif;
            font-size: 24px;
            a {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .author {
            font-size: 12px;
            font-family: bold;
            margin-top: 10px;
            a {
                color: #000;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.br {
    border-right: 1px solid #000;
    @media (max-width: 600px) {
        border-right: none;
    }
}

.p-20px {
    padding: 20px;
}
.pb-50px {
    padding-bottom: 50px;
    @media (max-width: 600px) {
        padding-bottom: 30px;
    }
}

.op-bottom {
    img {
        width: 100%;
    }
    padding: 10px;
    border-bottom: 1px solid #000;
    .content {
        width: 100%;
        text-align: center;
        padding-top: 10px;
        .category {
            text-transform: uppercase;
            margin-bottom: 10px;
            font-weight: bold;
            font-size: 12px;
            letter-spacing: .5px;
            a {
                color: #b80000;
                &:hover {
                    color: #000;
                }
            }
        }
        .title {
            font-family: 'DM Serif Display', serif;
            font-size: 18px;
            margin: 0;
            a {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.bg-yellow {
    background-color: #f8f4e7;
}

.t-post {
    margin-bottom: 15px;
    .img {
        width: 100%;
        img {
            width: 100%;
            height: auto;
        }
    }
    .content {
        width: 100%;
        padding: 10px;
        text-align: center;
        .category {
            text-transform: uppercase;
            margin-bottom: 10px;
            font-weight: bold;
            font-size: 12px;
            letter-spacing: .5px;
            a {
                color: #b80000;
                &:hover {
                    color: #000;
                }
            }
        }
        .title {
            font-family: 'DM Serif Display', serif;
            font-size: 19px;
            a {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.sidepost-tr {
    .content {
        width: 100%;
        border-bottom: 1px solid #000;
        padding-top: 15px;
        padding-bottom: 15px;
        .category {
            text-transform: uppercase;
            margin-bottom: 15px;
            font-weight: bold;
            font-size: 14px;
            letter-spacing: .5px;
            a {
                color: #b80000;
                &:hover {
                    color: #000;
                }
            }
        }
        .title {
            font-family: 'DM Serif Display', serif;
            font-size: 20px;
            a {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
.cat-border {
    background-color: #eee;
    border: 1px solid #b80000;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    @media (max-width: 600px) {
        margin-bottom: 15px;
    }
}

.container-main .sidepost-cat:last-child {
    border: none;
    padding-bottom: 0;
}

.sidepost-cat {
    .img {
        img {
            width: 150px;
            height: 140px;
            object-fit: cover;
            @media (max-width: 600px) {
                width: 145px;
            }
        }
    }
    display: flex;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #000;
    align-items: center;
    .content {
        width: calc(100% - 150px);
        padding: 10px;
        @media (max-width: 600px) {
            width: calc(100% - 145px);
            padding: 0 10px;
        }
        .category {
            text-transform: uppercase;
            margin-bottom: 15px;
            font-weight: bold;
            font-size: 12px;
            letter-spacing: .5px;
            a {
                color: #b80000;
                &:hover {
                    color: #000;
                }
            }
        }
        .title {
            font-family: 'DM Serif Display', serif;
            font-size: 18px;
            a {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}