.main-post {
    .img {
        width: 60%;
    }
    display: flex;
    align-items: center;
    border: 1px solid #b80000;
    background-color: #eee;
    .content {
        width: 40%;
        padding: 15px;
        .category {
            text-transform: uppercase;
            margin-bottom: 20px;
            font-weight: bold;
            font-size: 14px;
            letter-spacing: .5px;
            a {
                color: #b80000;
                &:hover {
                    color: #000;
                }
            }
        }
        .title {
            font-family: 'DM Serif Display', serif;
            font-size: 24px;
        }
        .author {
            font-size: 12px;
            font-weight: bold;
            margin-top: 10px;
            a {
                color: #000;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.sidepost {
    img {
        width: 30%;
        height: 150px;
        object-fit: cover;
    }
    display: flex;
    .content {
        width: 70%;
        padding-left: 10px;
        background-color: #eee;
        padding-top: 20px;
        padding-right: 10px;
        .category {
            text-transform: uppercase;
            margin-bottom: 20px;
            font-weight: bold;
            font-size: 12px;
            letter-spacing: .5px;
            color: #b80000;
        }
        .title {
            font-family: 'DM Serif Display', serif;
            font-size: 18px;
        }
        .author {
            font-size: 12px;
            font-family: bold;
            margin-top: 10px;
        }
    }
}

.sidepost-main {
    .img {
        width: 160px;
        object-fit: cover;
    }
    display: flex;
    align-items: center;
    border-bottom: 1px solid #b80000;
    margin-bottom: 15px;
    .content {
        width: calc(100% - 160px);
        padding: 10px;
        .category {
            text-transform: uppercase;
            margin-bottom: 10px;
            font-weight: bold;
            font-size: 12px;
            letter-spacing: .5px;
            a {
                color: #b80000;
                &:hover {
                    color: #000;
                }
            }
        }
        .title {
            font-family: 'DM Serif Display', serif;
            font-size: 18px;
        }
    }
}

.bottom {
    img {
        width: 100%;
        height: 160px;
        object-fit: cover;
    }
    .content {
        width: 100%;
        background-color: #eee;
        padding: 10px;
        .category {
            text-transform: uppercase;
            margin-bottom: 10px;
            font-weight: bold;
            font-size: 12px;
            letter-spacing: .5px;
            color: #b80000;
        }
        .title {
            font-family: 'DM Serif Display', serif;
            font-size: 18px;
        }
        .author {
            font-size: 12px;
            font-family: bold;
            margin-top: 10px;
        }
    }
}

.content-section {
    padding-top: 50px;
    padding-bottom: 50px;
}

hr {
    border-top: 1px solid #b80000;
    opacity: 1;
}

.header {
    font-family: 'DM Serif Display', serif;
    font-size: 46px;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: underline;
    text-decoration-color: #b80000;
}
.header-sub {
    font-family: 'DM Serif Display', serif;
    font-size: 36px;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: underline;
    text-decoration-color: #b80000;
    padding-bottom: 30px;
}
.opinion {
    img {
        width: 50%;
    }
    display: flex;
    align-items: center;
    background-color: #f8f4e7;
    justify-content: center;
    .content {
        width: 50%;
        padding: 10px;
        text-align: center;
        .category {
            text-transform: uppercase;
            margin-bottom: 20px;
            font-weight: bold;
            font-size: 14px;
            letter-spacing: .5px;
            color: #b80000;
        }
        .title {
            font-family: 'DM Serif Display', serif;
            font-size: 24px;
        }
        .author {
            font-size: 12px;
            font-family: bold;
            margin-top: 10px;
        }
    }
}

.br {
    border-right: 1px solid #000;
}

.p-20px {
    padding: 20px;
}
.pb-50px {
    padding-bottom: 50px;
}

.op-bottom {
    img {
        width: 100%;
    }
    padding: 10px;
    border-bottom: 1px solid #000;
    .content {
        width: 100%;
        text-align: center;
        padding-top: 10px;
        .category {
            text-transform: uppercase;
            margin-bottom: 10px;
            font-weight: bold;
            font-size: 12px;
            letter-spacing: .5px;
            color: #b80000;
        }
        .title {
            font-family: 'DM Serif Display', serif;
            font-size: 18px;
        }
        .author {
            font-size: 12px;
            font-family: bold;
            margin-top: 10px;
        }
    }
}

.bg-yellow {
    background-color: #f8f4e7;
}

.t-post {
    img {
        width: 100%;
    }
    .content {
        width: 100%;
        padding: 10px;
        text-align: center;
        .category {
            text-transform: uppercase;
            margin-bottom: 10px;
            font-weight: bold;
            font-size: 12px;
            letter-spacing: .5px;
            color: #b80000;
        }
        .title {
            font-family: 'DM Serif Display', serif;
            font-size: 18px;
        }
        .author {
            font-size: 12px;
            font-family: bold;
            margin-top: 10px;
        }
    }
}

.sidepost-tr {
    .content {
        width: 100%;
        border-bottom: 1px solid #000;
        padding-top: 20px;
        .category {
            text-transform: uppercase;
            margin-bottom: 15px;
            font-weight: bold;
            font-size: 14px;
            letter-spacing: .5px;
            color: #b80000;
        }
        .title {
            font-family: 'DM Serif Display', serif;
            font-size: 20px;
        }
        .author {
            font-size: 12px;
            font-family: bold;
            margin-top: 10px;
        }
    }
}
.cat-border {
    background-color: #eee;
    border: 1px solid #b80000;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.container-main .sidepost-cat:last-child {
    border: none;
    padding-bottom: 0;
}

.sidepost-cat {
    img {
        width: 30%;
        height: auto;
        object-fit: cover;
    }
    display: flex;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #000;
    .content {
        width: 70%;
        padding: 10px;
        .category {
            text-transform: uppercase;
            margin-bottom: 15px;
            font-weight: bold;
            font-size: 12px;
            letter-spacing: .5px;
            color: #b80000;
        }
        .title {
            font-family: 'DM Serif Display', serif;
            font-size: 18px;
        }
        .author {
            font-size: 12px;
            font-family: bold;
            margin-top: 10px;
        }
    }
}