/* Subscribed and Unsubscribed pages styles */
.subscribed-unsubscribed {
    width: 100%;
    .subscribed-unsubscribed-wrapper {
        width: 90%;
        margin: 60px auto;
        text-align: center;
        h1 {
            font-weight: normal;
            font-size: 3.9rem;
        }
        h2 {
            text-transform: uppercase;
            margin: 35px auto 15px auto;
            font-weight: normal;
            letter-spacing: 2px;
            span.email {
                color: #0084ff;
            }
            @media screen and (max-width: 600px) {
                font-size: 2.2rem;
            }
            @media screen and (max-width: 450px) {
                font-size: 1.8rem;
            }
        }
        p {
            color: #4e4e4e;
            margin-bottom: 20px;
        }
        a.button {
            border: 2px solid #f75679;
            padding: 7px 16px;
            display: inline-block;
            margin: 0 0 20px 0;
            font-size: 1.2rem;
            text-transform: uppercase;
            letter-spacing: 1px;
            border-radius: 3px;
            background-color: transparent;
            color: #000;
            &:hover {
                background-color: #f75679;
                color: #fff;
                border: 2px solid #f75679;
                transition: all 0.3s ease-in-out;
            }
            &:not(:hover) {
                background-color: transparent;
                color: #000;
                transition: all 0.3s ease-in-out;
            }
        }
    }
}

/* Subscription widget (located in index page) */
.subscription {
    width: 100%;
    background-color: #000;
    color: #fff;
    .subscription-wrapper {
        border-bottom: 1px solid #ddd;
        padding: 50px 25px;
        display: grid;
        grid-template-columns: 70% 30%;
        align-content: center;
        @media screen and (max-width: 1100px) {
            grid-template-columns: 100%;
        }
        @media screen and (max-width: 600px) {
            padding: 20px 10px;
        }
        .subscription-info {
            @media screen and (max-width: 1100px) {
                margin-top: 50px;
            }
            h3 {
                font-weight: normal;
                margin-bottom: 15px;
                font-size: 32px;
                font-family: 'Playfair Display', serif;
                text-decoration: underline;
                text-decoration-color: #b80000;
            }
            p {
                font-size: 18px;
                margin-bottom: 0px;
                font-family: 'Playfair Display', serif;
                font-weight: 500;
            }
        }
        .subscription-widget {
            form.input-wrapper {
                width: 100%;
                margin: 5px auto;
                .form-group {
                    position: relative;
                    input {
                        color: #fff;
                        border-radius: 0;
                        outline: none;
                        width: 100%;
                        border: none;
                        padding: 8px 0;
                        border-bottom: 1px solid #fff;
                        background-color: transparent;
                        font-size: 16px;
                        &::placeholder {
                            opacity: 1;
                            color: #fff;
                        }
                    }
                    button {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        border: none;
                        background: transparent;
                        outline: none;
                        cursor: not-allowed;
                        color: #fff;
                        .envelope {
                            width: 40px;
                            height: 40px;
                        }
                    }
                    .activeButton {
                        cursor: pointer;
                        color: #b80000;
                    }
                }
                .invalid-feedback {
                    color: #b80000;
                    font-size: 14px;
                    text-align: left;
                    margin-top: 3px;
                }
                .policy-consent {
                    text-align: left;
                    margin-top: 3px;
                    .checkbox-container {
                        display: inline-block;
                        position: relative;
                        padding-left: 20px;
                        cursor: pointer;
                        user-select: none;
                        margin-top: 5px;
                        font-family: 'Noto Sans', sans-serif;
                        input {
                            position: absolute;
                            opacity: 0;
                            cursor: pointer;
                            height: 0;
                            width: 0;
                            &:checked ~ .checkmark {
                                background-color: #b80000;
                                &:after {
                                    display: block;
                                }
                            }
                        }
                        .checkmark {
                            position: absolute;
                            top: 4px;
                            left: 0;
                            height: 12px;
                            width: 12px;
                            background-color: #fff;
                            &:after {
                                content: "";
                                position: absolute;
                                display: none;
                            }
                        }
                    }
                    .checkbox-container .checkmark:after {
                        width: 5px;
                        height: 9px;
                        left: 4px;
                        top: 1px;
                        border: solid white;
                        border-width: 0 2px 2px 0;
                        transform: rotate(45deg);
                    }
                    small {
                        font-size: 12px;
                        color: #fff;
                        a {
                            color: #fff;
                            font-weight: normal;
                            text-decoration: underline;
                        }
                    }
                }
            }
            @media screen and (max-width: 1100px) {
                margin: 20px 0 50px;
            }
        }
    }
}
