@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Noto+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import "errors";
@import "select2";
@import "flash";
@import "header";
@import "subscription";
@import "main";
@import "footer";
@import "featured";
@import "news";

/* General styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 14px;
}

body {
    margin: 0;
    color: #000;
    background-color: #fff;
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    outline: none;
    color: #000;
    &:hover {
        color: #b80000;
    }
}

img {
    width: 100%;
    height: auto;
}

ul {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 2.8rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    line-height: 23px;
    margin: 0;
}

h4 {
    font-size: 2.1rem;
}

h5 {
    font-size: 1.9rem;
}

h6 {
    font-size: 1.7rem;
}

ul {
    list-style: none;
}

.col-md-6 {
    padding: 0;
}

.row {
    @media (max-width: 600px) {
        --bs-gutter-x: 0;
        --bs-gutter-y: 0;
    }
    width: 100%;
    max-width: 100%;
}

.container-main {
    width: 90%;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    @media (max-width: 600px) {
        width: 100%;
    }
}

.subtitle {
    font-style: italic;
}

/* Cookie consent styles */
.cookie-consent {
    position: fixed;
    bottom: 15px;
    right: 20px;
    z-index: 9999;
    width: 450px;
    padding: 25px;
    background-color: #fff;
    border: 2px solid #f5f8fa;
    border-radius: 10px;
    @media screen and (max-width: 600px) {
        width: 400px;
    }
    @media screen and (max-width: 450px) {
        width: 320px;
    }
    .text-info {
        p.cookie-consent__message {
            color: #000;
            font-size: 16px;
            margin-bottom: 1rem;
        }
        a {
            color: #000;
            font-size: 16px;
            text-decoration: underline;
            i {
                margin-left: 0.5rem;
                color: #0084ff;
            }
        }
    }
    .consent {
        margin-top: 2rem;
        a.button {
            border: 2px solid #b80000;
            padding: 5px 10px;
            display: inline-block;
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 1px;
            background-color: #fff;
            color: #000;
            cursor: pointer;
            &:hover {
                background-color: #b80000;
                color: #fff;
                border: 2px solid #b80000;
                transition: all 0.3s ease-in-out;
            }
            &:not(:hover) {
                background-color: transparent;
                color: #000;
                transition: all 0.3s ease-in-out;
            }
        }
        a.settings {
            color: #b80000;
            font-size: 16px;
            text-decoration: underline;
            float: right;
            padding-top: 1.2rem;
        }
    }
}

@keyframes ldio-42n97szec8n {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
.ldio-42n97szec8n div {
    box-sizing: border-box !important;
}
.ldio-42n97szec8n > div {
    position: absolute;
    width: 72px;
    height: 72px;
    top: 14px;
    left: 14px;
    border-radius: 50%;
    border: 8px solid #000;
    border-color: #b80000 transparent #b80000 transparent;
    animation: ldio-42n97szec8n 1s linear infinite;
}
.ldio-42n97szec8n > div:nth-child(2) {
    border-color: transparent;
}
.ldio-42n97szec8n > div:nth-child(2) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}
.ldio-42n97szec8n > div:nth-child(2) div:before,
.ldio-42n97szec8n > div:nth-child(2) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    top: -8px;
    left: 24px;
    background: #b80000;
    border-radius: 50%;
    box-shadow: 0 64px 0 0 #b80000;
}
.ldio-42n97szec8n > div:nth-child(2) div:after {
    left: -8px;
    top: 24px;
    box-shadow: 64px 0 0 0 #b80000;
}
.loadingio-spinner-dual-ring-cjdrxbl8zl {
    width: 50px;
    height: 50px;
    display: inline-block;
    overflow: hidden;
    background: #ffffff;
}
.ldio-42n97szec8n {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.5);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-42n97szec8n div {
    box-sizing: content-box;
}

.loadmore {
    background: #000;
    color: #fff;
    border-radius: 0;
    border: 1px solid #000;
    padding: 15px 20px;
    &:hover {
        color: #000;
        border: 1px solid #000;
    }
}